@import './vendor/normalize-scss/sass/_normalize.scss';
@include normalize();
@import './lib/_theme';

html body {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: $app-bg-primary-color;
  color: $app-font-primary-color;
}

p {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 50%;
}

ol li {
  margin: 0 auto;
  text-align: center;
  border: 1px dotted black;
  border-radius: 2px;
  width: 30%;
  font-size: $app-font-size-content;
  background-color: $app-font-primary-color;
  color: black;
}

label {
  color: black;
}

select, button {
  border: 1px solid black;
  border-radius: 3px;
  background-color: $app-font-primary-color;
  color: black;
}
